@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #0B0F1A;
    --cor2: #131f36;
    --cor3: #8B5CF6;
    --cor4: #38BDF8;
    --cor5: #22D3EE;
    --cor6: #e5e7eb;

    --fonte-titulo: Orbitron, cursive;
    --texto-normal: Inter, cursive;
}

@media (max-width: 375px){
    aside{
        min-height: 400px;
    }

    main{
        min-height: 1600px;
    }
}

*{
    margin: 0px;
    padding: 0px;
}

main img{
    display: block;
    margin: auto;
    width: 90%;

}


aside{
    background-color: var(--cor1);
    display: block;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    width: 95%;
    height: 300px;
}

aside > h3{
    background-color: #0F172A;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0px 0px 0px 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > li{
    text-indent: 10px;
    padding-top: 10px;
}

aside > ul{
    list-style-type: none;
    list-style-position: inside;
}

div.video{
    display: flex;
  justify-content: center;
  align-items: center;     
  margin: 0 auto;         
  width: 100%;             
  max-width: 800px;
}

footer{
    text-align: center;
}