@charset "UTF-8"

@media (max-width: 375px) {
    div.initial > h2{
        font-size: 1em;
    }
    div.initial > li{
        font-size: 0.8em;
    }

    div.initial{
        min-height: 250px;

        main
    }
}

img.materia-escura{
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 5px;
}

main{
    height: 1200px;
}

div.initial > h2{
    background-color:#0F172A;
    font-size: 1.4em;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.initial{
    display: block;
    margin: auto;
    margin-right: 50px;
    margin-left: 50px;
    min-height: 250px;
    background-color: var(--cor1); 
    border-radius: 5px;   
}

ul{
    list-style-type: none;
    list-style-position: inside;
}

li{
    text-indent: 10px;
    padding-top: 10px;
}

footer{
    text-align: center;
}
