@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #0B0F1A;
    --cor2: #131f36;
    --cor3: #8B5CF6;
    --cor4: #38BDF8;
    --cor5: #22D3EE;
    --cor6: #e5e7eb;

    --fonte-titulo: Orbitron, cursive;
    --texto-normal: Inter, cursive;
}

@media (max-width: 375px) {

    body{
        overflow-x: hidden;
    }

    main{
        min-height: 1250px;
    }

   main h2{
        font-size: 2rem;
    }
    main p{
        font-size: 0.8em;
    }



    nav{
        justify-content: center;
        font-size: 0.8em;
        flex-wrap: wrap;
        gap: 15px 25px;
        padding: 10px;
        width: 100%;
    }

    nav a{
        font-size: 12px;
        text-align: center;
        min-width: 80px;
        white-space: nowrap;

    }

    iframe {
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
    aspect-ratio: 16 / 9;
    }


    main.galaxy > img.colisoes{
        height: 150px;
    }


    main.blackhole{
        min-height: 1650px;
    }

    aside.blackhole{
     min-height: 420px;
    }

    div.observation{
        margin-top: 50px;
    }

    main.teorics{
        min-height: 1050px;
    }

    }


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1) ;
    color: var(--cor6);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header h1{
    font-family: var(--fonte-titulo);
    font-size: 3em;
    padding-bottom: 20px;
    color: var(--cor3);
}

nav{
    color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav a{
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    margin: 10px;
    padding: 10px;
    margin-top: 40px;
}

nav a:hover{
    background-color: var(--cor5);
    color: var(--cor2);
    text-decoration: underline;
}

main{
    background-color: var(--cor2);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    height: 1600px;
    border-radius: 5px;
}

main h2{
    color: var(--cor4);
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-size: 1.8em;
    margin: 10px 5px;
    margin-top: 10px;
}

main h3{
    color: var(--cor4);
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 5px;
}

main p{
    color: var(--cor6);
    text-indent: 20px;
    text-align: justify;
    margin: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

footer{
    text-align: center;
}

img.materia-escura{
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 5px;
}

main.index{
    height: 1200px;
}

div.initial > h2{
    background-color:#0F172A;
    font-size: 1.4em;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.initial{
    display: block;
    margin: auto;
    margin-right: 50px;
    margin-left: 50px;
    min-height: 250px;
    background-color: var(--cor1); 
    border-radius: 5px;   
}

div.initial > ul{
    list-style-type: none;
    list-style-position: inside;
}

div.initial > li{
    text-indent: 10px;
    padding-top: 10px;
}

main.galaxy{
    height: 1500px;
}

main img.via-lactea{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 10px;
}

div.galaxys > h2{
    background-color:#0F172A;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.galaxys{
    display: block;
    margin: auto;
    height: 180px;
    width: 300px;
    background-color: var(--cor1); 
    border-radius: 5px;   
}

div.galaxys > ul{
    list-style-type: none;
    list-style-position: inside;
}

div.galaxys > li{
    text-indent: 10px;
    padding-top: 10px;
    margin-top: 5px;
}

img.colisoes{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    height: 17%;
    border-radius: 10px;
}

main.blackhole > img{
    display: block;
    margin: auto;
    width: 90%;

}


aside.blackhole{
    background-color: var(--cor1);
    display: block;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    width: 95%;
    height: 300px;
}

aside.blackhole > h3{
    background-color: #0F172A;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0px 0px 0px 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside.blackhole > li{
    text-indent: 10px;
    padding-top: 10px;
}

aside.blackhole > ul{
    list-style-type: none;
    list-style-position: inside;
}

div.video{
    display: flex;
  justify-content: center;
  align-items: center;     
  margin: 0 auto;         
  width: 100%;             
  max-width: 800px;
}

main.teorics{
    height: 800px;
}